<a href="https://colab.research.google.com/github/andrevks/learning-python-for-ml/blob/main/01_python_basic_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working With JSON 

1 - Create an address book and write some records into it

2 - Read the address book

In [ ]:
#Creating a dict to represent JSON
book = {}
book['tim'] = {
    'name': 'Tim Ferris',
    'address': '34 black street, NY',
    'phone': 9823423
}

book['jack'] = {
    'name': 'BoJack Horseman',
    'address': '23 pink street, NY',
    'phone': 9665623
}


import json 
#Taking the dictionary object called book as a input
#Then it's dumping it as a string and converting to json format
s = json.dumps(book)
#{"tim": {"name": "Tim Ferris", "address": "34 black street, NY", "phone": 9823423}, "jack": {"name": "BoJack Horseman", "address": "23 pink street, NY", "phone": 9665623}}

with open("book.txt", "w") as f:
  f.write(s)

In [ ]:
#Reading the JSON book.txt
f = open("book.txt","r")
s = f.read() ## It's a string
print(s)
print("Type of Book before: ", type(s))

book_dict = json.loads(s) #Converting to the dictionary format  
print(book)
print(f'Type of Book: {type(book_dict)}')
print("Jack: ")
print(book_dict['jack'])
print(book_dict['jack']['phone'])

print("All people in the book")

for person in book_dict:
  print(book_dict[person])

{"tim": {"name": "Tim Ferris", "address": "34 black street, NY", "phone": 9823423}, "jack": {"name": "BoJack Horseman", "address": "23 pink street, NY", "phone": 9665623}}
Type of Book before:  <class 'str'>
{'tim': {'name': 'Tim Ferris', 'address': '34 black street, NY', 'phone': 9823423}, 'jack': {'name': 'BoJack Horseman', 'address': '23 pink street, NY', 'phone': 9665623}}
Type of Book: <class 'dict'>
Jack:
{'name': 'BoJack Horseman', 'address': '23 pink street, NY', 'phone': 9665623}
9665623
All people in the book
{'name': 'Tim Ferris', 'address': '34 black street, NY', 'phone': 9823423}
{'name': 'BoJack Horseman', 'address': '23 pink street, NY', 'phone': 9665623}

# if _ _name_ _ == "__main__"

In [ ]:
#It's a predefined variable in python
__name__

'__main__'

In [ ]:
#Instead of using a main() function as an entry point as in other programming languages
#We can do like this:

if __name__ == "__main__":
  print('That\'s pretty nice, Python is awesome !')

That's pretty nice, Python is awesome !

In [ ]:
#It changes when the module is imported though:

# Suppose you have a python program called **area.py**

# In **area.py**:

def calc_area(base, height):
  print("__name__: ", __name__)
  return 1/2 * (base*height)

if __name__ == "__main__":
    print("I am in area.py")
    a = calc_area(10, 20)
    print("area: ", a)

# When you run it the result is that the name is **__main__** when executed in this file

I am in area.py
__name__:  __main__
area:  100.0

In [ ]:

# However, suppose you have other python program called **caller.py**

# In caller.py:

# import area
print("I'm in caller.py")
# area.calc_area(5,10)
print("__name__:  __area__")

# The value of name here is **__area__** instead of __main__, so it's the name of the module that was imported

I'm in caller.py
__name__:  __area__

#

# Basics - Python Course

In [ ]:
#-PY3 - Strings
string = "A string is just fine and this is awesome"

# In the initial value, the number is included
print(string[3:])

# The final value, the number is not included.
#So if you write 8 it goes until 7 
print(string[:8])

#We can repeat the same string by multiplying 
print(2 * string)


print(string.split())

#Split by the caracter sent int the parameter
print(string.split('is'))

tring is just fine and this is awesome
A string
A string is just fine and this is awesomeA string is just fine and this is awesome
['A', 'string', 'is', 'just', 'fine', 'and', 'this', 'is', 'awesome']
['A string ', ' just fine and th', ' ', ' awesome']

In [ ]:

#Return the index of the initial position of the string/caracter 
#that you want to search for within the "str"
print(string.find('a'))


#Replace a string within a string and replace with another string
print(string.replace("and", "but"))

22
A string is just fine but this is awesome

In [ ]:
#PY04 - LIST

my_list = ['one','two',3,4]
print(my_list[:2])

['one', 'two']

In [ ]:

my_list = my_list + ['No WAY!']
print(my_list )

['one', 'two', 3, 4, 'No WAY!']

In [ ]:
#List operations

list_t = [12, 55]
list_t.append('This not so impressive tho')
print(list_t)

#Delete from the end
list_t.pop()
print(list_t)

#Delete from the beginning
list_t.pop(0)
print(list_t)

[12, 55, 'This not so impressive tho']
[12, 55]
[55]

In [ ]:
new_list = ['F','A','N','G']

#Put the list in a reverse order
new_list.reverse()
print(new_list)

#Put the list in alphabetic order
new_list.sort()

print(new_list)

['G', 'N', 'A', 'F']
['A', 'F', 'G', 'N']

In [ ]:
#PY05 - Casting (Converting types)

var = '30000'
print(var)
print(type(var))

var2 = int(var)

print(var2)
print(type(var2))

30000
<class 'str'>
30000
<class 'int'>

In [ ]:
number = 360000

print(number)
print(type(number))

no_number =  str(number)

print(no_number)
print(type(no_number))

360000
<class 'int'>
360000
<class 'str'>

In [ ]:
#PY05 - Inputs in Python

paycheck = float(input('Enter with the paycheck you want to get monthly: '))
print(f'The type of the paycheck var is : {type(paycheck)}')
print("Congrats! your new paycheck is ", paycheck * 0.85)

Enter with the paycheck you want to get monthly: 30000
The type of the paycheck var is : <class 'float'>
Congrats! your new paycheck is  25500.0

In [ ]:
total = 0.0
end = True
while end:
  item = float(input("Type the price of the first item "))
  total += item
  answer = input("Are you still buying? (y/n)")
  print(answer)
  if answer == 'y':
    end = True
  elif answer == 'n':
    end = False
    


print("Total: ", total)

Type the price of the first item 54
Are you still buying? (y/n)y
y
Type the price of the first item 3213
Are you still buying? (y/n)y
y
Type the price of the first item 9.98
Are you still buying? (y/n)n
n
Total:  3276.98

## Dictionary - PY06

It holds key and values pairs

In [ ]:
#Keys here are the names and values are the paycheck
dict_employers = {
    'Robert': {
               'paycheck': 4000,
               'networth': 100000,
               'reason': 'worked'
              }, 
    'MacKenzie Scott': {
                        'networth':620000000000,
                        'reason': 'divorce'
                        },
    } 
print(dict_employers['MacKenzie Scott'])
print(dict_employers['MacKenzie Scott']['networth'])
dict_employers['Robert']['paycheck'] = 5000
print(dict_employers['Robert'])  #Updating existing entry
print("\n------------LIST OF EMPLOYERS----------\n")
for emp in dict_employers:
  print(f'{emp} -> {dict_employers[emp]}')

print("----------------------\n")

#Adding new entry to the dict
dict_employers['Bezos'] = {
                            'networth': 2140000000000000000000000
                        }
print(dict_employers)

{'networth': 620000000000, 'reason': 'divorce'}
620000000000
{'paycheck': 5000, 'networth': 100000, 'reason': 'worked'}

------------LIST OF EMPLOYERS----------

Robert -> {'paycheck': 5000, 'networth': 100000, 'reason': 'worked'}
MacKenzie Scott -> {'networth': 620000000000, 'reason': 'divorce'}
----------------------

{'Robert': {'paycheck': 5000, 'networth': 100000, 'reason': 'worked'}, 'MacKenzie Scott': {'networth': 620000000000, 'reason': 'divorce'}, 'Bezos': {'networth': 2140000000000000000000000}}

In [ ]:
#Deleting key from the dict
del dict_employers['Robert']


print(dict_employers)

{'MacKenzie Scott': {'networth': 620000000000, 'reason': 'divorce'}, 'Bezos': {'networth': 2140000000000000000000000}}

In [ ]:
# To clear all the data 

dict_employers.clear()
print(dict_employers) 

#Delete the entire dictionary
del dict_employers

{}

In [ ]:
#Update existing data
 
sampleDict = {
    'emp1': {'name': 'Harper', 'Salary':10000},
    'emp2': {'name': 'Ella', 'Salary': 4220},
    'emp3': {'name': 'Alexa', 'Salary': 7000},
    'emp4': {'name': 'Promise', 'Salary': 12000}
}

print(sampleDict['emp3'])

sampleDict['emp3']['Salary'] = 8500

print(sampleDict['emp3'])

{'name': 'Alexa', 'Salary': 7000}
{'name': 'Alexa', 'Salary': 8500}

## Date and Time - PY07

In [1]:
# !pip install datetime
import datetime

datetime_object = datetime.datetime.now()
print(datetime_object) #Get the cloud datacenter time 

date_object = datetime.date.today()
print(date_object)

2021-09-20 17:17:51.568734
2021-09-20

In [ ]:
#Calendar

import calendar 

yy = 2021
mm = 1
print(calendar.month(yy,mm))

    January 2021
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [ ]:
print(calendar.calendar(y y,2, 1, 2))

                              2021

      January               February               March
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
             1  2  3   1  2  3  4  5  6  7   1  2  3  4  5  6  7
 4  5  6  7  8  9 10   8  9 10 11 12 13 14   8  9 10 11 12 13 14
11 12 13 14 15 16 17  15 16 17 18 19 20 21  15 16 17 18 19 20 21
18 19 20 21 22 23 24  22 23 24 25 26 27 28  22 23 24 25 26 27 28
25 26 27 28 29 30 31                        29 30 31

       April                  May                   June
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
          1  2  3  4                  1  2      1  2  3  4  5  6
 5  6  7  8  9 10 11   3  4  5  6  7  8  9   7  8  9 10 11 12 13
12 13 14 15 16 17 18  10 11 12 13 14 15 16  14 15 16 17 18 19 20
19 20 21 22 23 24 25  17 18 19 20 21 22 23  21 22 23 24 25 26 27
26 27 28 29 30        24 25 26 27 28 29 30  28 29 30
                      31

        July                 August              September
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
          1  2  3  4                     1         1  2  3  4  5
 5  6  7  8  9 10 11   2  3  4  5  6  7  8   6  7  8  9 10 11 12
12 13 14 15 16 17 18   9 10 11 12 13 14 15  13 14 15 16 17 18 19
19 20 21 22 23 24 25  16 17 18 19 20 21 22  20 21 22 23 24 25 26
26 27 28 29 30 31     23 24 25 26 27 28 29  27 28 29 30
                      30 31

      October               November              December
Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su  Mo Tu We Th Fr Sa Su
             1  2  3   1  2  3  4  5  6  7         1  2  3  4  5
 4  5  6  7  8  9 10   8  9 10 11 12 13 14   6  7  8  9 10 11 12
11 12 13 14 15 16 17  15 16 17 18 19 20 21  13 14 15 16 17 18 19
18 19 20 21 22 23 24  22 23 24 25 26 27 28  20 21 22 23 24 25 26
25 26 27 28 29 30 31  29 30                 27 28 29 30 31

In [ ]:
#PY10 - Random function
import random 
print(random.randint(3,300))

print(random.randrange(3,1000))

223
38

In [ ]:
#PY11 - Python Math

import math 

x = math.sqrt(25)
print(x)

x = math.ceil(1.3) 
y = math.floor(1.3)

print(x)
print(y)

5.0
2
1

In [ ]:
x = math.pi 
print(x)

#Find the min val
x = min(5,23,44)
print(x)

#Find the max val
x = max(4,5,44)
print(x)

3.141592653589793
5
44

In [ ]:
# PY12 - OOP

#Employee

class Employee:
  empCount = 0 #Var of the class

  def __init__(self, name, salary):
    self.name = name
    self.salary = salary 
    Employee.empCount += 1

  def displaycount(self):
    print("Total employee %d " %Employee.empCount)

  def displayEmployee(self):
    print(f'Name {self.name}, Salary {self.salary}')


#Instatiating object from the class Employee

emp1 = Employee("Jack", 6000)

emp1.displaycount()
emp1.displayEmployee()

emp2 = Employee("John", 5454)
emp2.displaycount()
emp2.displayEmployee()

Total employee 1
Name Jack, Salary 6000
Total employee 2
Name John, Salary 5454

In [ ]:
#PY13 - 

class Vehicle:

  def __init__(self, max_speed, milage):
    self.max_speed = max_speed
    self.milage = milage



modelX = Vehicle(240, 18)
print(modelX.max_speed, modelX.milage)

240 18

In [ ]:
class Circle:
  pi = 3.14

  def __init__(self, radius=1):
    self.radius = radius
    self.area = radius*radius*Circle.pi

  def setRadius(self,new_radius):
    self.radius = new_radius
    self.area = new_radius*new_radius*self.pi

  def getCircumference(self):
    return self.radius*self.pi*2

#Instatiate a object from the Circle class:

c = Circle( )
print("Radius is ", c.radius)
print("Area is ", c.area)

Radius is  1
Area is  3.14

## Inheritance - PY14

In [ ]:
#Animal -> dog, cat
#Vechicle -> car, van

class Animal:
  def __init__(self):
    print("Animal was born")

  def whoAmI(self):
    print("Animal")

  def eat(self):
    print("Eating...") 

#Dog inherits the Animal class
class Dog(Animal):
  def __init__(self):
    #super().__init__()
    Animal.__init__(self)
    print("Dog was born")
  
  def whoAmI(self):
    print("Dog")

  def bark(self):
    print("Wooof !!")

#Instatiate Dog object

d = Dog()

d.whoAmI() 
d.eat()
d.bark()

Animal was born
Dog was born
Dog
Eating...
Wooof !!

In [ ]:
#Parent class or Superclass
class Bird:
  def __init__(self):
    print("Bird is ready to go")

  def whoIsThis(self):
    print("Bird")

  def swim(self):
    print("Swim faster")


#Child Class or Subclass

class Penguin(Bird):

  def __init__(self):
    super().__init__()
    print("Penguin is ready")

  def whoIsThis(self):
    print("Penguin")

  def run(self):
    print("Run faster")

#Instatiate Peguin object 

p = Penguin()

p.whoIsThis()
p.run()
p.swim()

Bird is ready to go
Penguin is ready
Penguin
Run faster
Swim faster

## Handling Errors

In [12]:
try:
  x = int(input("Please enter a number: "))
  y = 100 / x
except ZeroDivisionError:
  print('Error: 0 is a invalid number to make the division')
except ValueError:
  print('Error: there was an error (probably the input format)')
except Exception:
  print('Error: another error occurred')
finally:
  print("Cleanup can go here")

Please enter a number: %
Error: there was an error (probably the input format)
Cleanup can go here

In [14]:
#Raising Exceptions

try:
    x = int(input("Please enter a number: "))
    y = 100 / x
except ValueError:
    print("Error: there was an error")
except ZeroDivisionError:
    print("Error: 0 is an invalid number")
except Exception:
  raise

Please enter a number: 1

In [17]:
a = 20
assert a < 10, "something went wrong"

AssertionError: ignored

## File handling PY17

In [32]:
# Write in file
def writefile():
    with open("abc.txt", 'w', encoding='utf-8') as f:
        f.write("My first file. \n")
        f.write("This file \n")
        f.write("contains 3 lines \n")


# Read file
def readfile():
    f = open('abc.txt', 'r', encoding='utf-8')
    print(f.read())


if __name__ == '__main__':
    writefile()
    readfile()

My first file.
This file
contains 3 lines