<a href="https://colab.research.google.com/github/andrevks/learning-python-for-ml/blob/main/03_basic_pandas_ex2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Series datatype used in timeseries data

data = np.array(['a','b','c','d'])

#Create series data:

s2 = pd.Series(data, index=[100,101,102,103])
s2

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
#Another way to create Series data

data2 = {'a': 0., 'b': 1., 'c': 2.}

s2 = pd.Series(data2)
print(s2)

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
#Dataframe 

data = {
            'Name':['Tom','Jack','Steve','Ricky'],
            'Age':[28,34,29,42]
        }

#Create a Dataframe:
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [ ]:
#Other ways to create a DataFrame

#Dataframe from list of Dicts

data = [{ 'a' : 1, 'b' : 2 },{ 'a' : 5 , 'b' : 10, 'c': 20 }]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [ ]:
#DataFrame from Series

d = {
        'one' : pd.Series([11, 21, 3], index=['a','b','c']),
        'two' : pd.Series([1, 2, 3, 4], index= ['a','b','c','d'])
    }

df = pd.DataFrame(d)
print(df)
print('\n')

print(df['two'])
print('\n')

print(df['one'])
del df['one']

print('\nAfter deleting the ONE\n')
print(df)


#Working with rows
print('\n---Working with rows:\n')
print (df.loc['b'])
print('\n')
print (df.iloc[2]) #Especific Location
print('\n')
print (df[0:2]) # End not included, so from 0 to 1

    one  two
a  11.0    1
b  21.0    2
c   3.0    3
d   NaN    4


a    1
b    2
c    3
d    4
Name: two, dtype: int64


a    11.0
b    21.0
c     3.0
d     NaN
Name: one, dtype: float64

After deleting the ONE

   two
a    1
b    2
c    3
d    4

---Working with rows:

two    2
Name: b, dtype: int64


two    3
Name: c, dtype: int64


   two
a    1
b    2

In [ ]:
df7 = pd.read_csv('sample_data/california_housing_train.csv')

print(df7)

df8 = df7.head()

print('\n')
print(df8)

print('\n')

df9 = df7.describe()

print(df9)

print('\n')
print(df7['households'].dtype)

df10 = df7['households']
print(df10)

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]


   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]


          longitude      latitude  ...  median_income  median_house_value
count  17000.000000  17000.000000  ...   17000.000000        17000.000000
mean    -119.562108     35.625225  ...       3.883578       207300.912353
std        2.005166      2.137340  ...       1.908157       115983.764387
min     -124.350000     32.540000  ...       0.499900        14999.000000
25%     -121.790000     33.930000  ...       2.566375       119400.000000
50%     -118.490000     34.250000  ...       3.544600       180400.000000
75%     -118.000000     37.720000  ...       4.767000       265000.000000
max     -114.310000     41.950000  ...      15.000100       500001.000000

[8 rows x 9 columns]


float64
0        472.0
1        463.0
2        117.0
3        226.0
4        262.0
         ...
16995    369.0
16996    465.0
16997    456.0
16998    478.0
16999    270.0
Name: households, Length: 17000, dtype: float64

In [ ]:
unsorted_df = pd.DataFrame(
                            np.random.randn(10,2),
                            index=[1,4,6,2,3,5,9,8,0,7], 
                            columns=['col2','col1']
                           )
print(unsorted_df)


sorted_df = unsorted_df.sort_index(axis=1)

print('\n')
print(sorted_df)

       col2      col1
1 -0.029019  0.342115
4  1.270037  0.707815
6 -0.350973  0.523670
2 -0.436123  0.039107
3 -1.634493 -1.261539
5 -0.112444 -0.765505
9 -0.938600 -2.446475
8  0.658065 -2.431121
0  0.734693  0.061608
7 -0.727495  0.256555


       col1      col2
1  0.342115 -0.029019
4  0.707815  1.270037
6  0.523670 -0.350973
2  0.039107 -0.436123
3 -1.261539 -1.634493
5 -0.765505 -0.112444
9 -2.446475 -0.938600
8 -2.431121  0.658065
0  0.061608  0.734693
7  0.256555 -0.727495

In [ ]:
#Save to csv
unsorted_df.to_csv('foo.csv')
print(sorted_df)

       col1      col2
1  0.342115 -0.029019
4  0.707815  1.270037
6  0.523670 -0.350973
2  0.039107 -0.436123
3 -1.261539 -1.634493
5 -0.765505 -0.112444
9 -2.446475 -0.938600
8 -2.431121  0.658065
0  0.061608  0.734693
7  0.256555 -0.727495