In [113]:
#Q1 - my way

for i in range(5):
  idx = 0
  while (idx <= i):
    print(i+1,end=' ')
    idx+=1
  print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [114]:
#Q1 - Another way 
for num in range(6):
  for i in range(num):
    print(num,end=' ')
  print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [115]:
#Q2

#My way
def reverse_num(num):  
  string = str(num)
  str_len = len(string)
  reverse_str = ''
  i = str_len - 1
  while (i >= 0):
    reverse_str += string[i] + ' '
    i-=1
  return reverse_str

print(reverse_num(7636))

6 3 6 7

In [116]:
#Q2
#Another way
number = 7636

while(number > 0):
  #Take the number from the right of the comma 
  digit = number % 10
  #// to take only the integer part of the div
  #and the number from the right is 'gone' 
  number = number // 10
  print(digit, end=' ')

6 3 6 7

In [45]:
#Q3 - From the given dataset print the first and last five rows

import pandas as pd 


df = pd.read_csv('Automobile_data.csv')
#As default the head and tail will show 5 elements
#But in case you need to see more rows just pass the number
#of rows as a param.
print(df.head(5))
print('\n')
print(df.tail(5))

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0


    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [81]:
#Q4 - Find the most expensive car company name

df2 = df[['company','price']][df.price == df['price'].max()]
df3 = df[['company','price']]
df3 = df3[df.price == df.price.max()]
print(df2)
print()
print(df3)

          company    price
35  mercedes-benz  45400.0

          company    price
35  mercedes-benz  45400.0

In [140]:
#Q5 - Print All Toyota Cars details

#My way 
df_toyota = df[df.company == 'toyota']
print(df_toyota)
print()

#Another way
df_toyota = df.groupby('company')
df_toyota = df_toyota.get_group('toyota')
print(df_toyota)

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

    index company body-style  wheel-base  length engine-type num-of-cylinders  \
48     66  toyota  hatchback        95.7   158.7         ohc             four
49     67  toyota  hatchback        95.7   158.7         ohc             four
50     68  toyota  hatchback        95.7   158.7         ohc             four
51     69  toyota      wagon        95.7   169.7         ohc             four
52     70  toyota      wagon        95.7   169.7         ohc             four
53     71  toyota      wagon        95.7   169.7         ohc             four
54     79  toyota      wagon       104.5   187.8        dohc              six

    horsepower  average-mileage    price
48          62               35   5348.0
49          62               31   6338.0
50          62               31   6488.0
51          62               31   6918.0
52          62               27   7898.0
53          62               27   8778.0
54         156               19  15750.0

In [145]:
#Q6 - Count total cars per company

#Groupby and pass the name of the column to group on
#My way (it's not sorted)
df_total_cars = df.groupby('company')['company'].count()
print(df_total_cars)

print('\n ------')
#Another way (it looks better since the values are sorted)
df_total_cars = df['company'].value_counts()
print(df_total_cars)

company
alfa-romero      3
audi             4
bmw              6
chevrolet        3
dodge            2
honda            3
isuzu            3
jaguar           3
mazda            5
mercedes-benz    4
mitsubishi       4
nissan           5
porsche          3
toyota           7
volkswagen       4
volvo            2
Name: company, dtype: int64

 ------
toyota           7
bmw              6
nissan           5
mazda            5
mercedes-benz    4
audi             4
volkswagen       4
mitsubishi       4
honda            3
alfa-romero      3
jaguar           3
porsche          3
isuzu            3
chevrolet        3
volvo            2
dodge            2
Name: company, dtype: int64

In [160]:
#Q7 - Find the average mileage of each car making company

df_mileage = df[['company','average-mileage']].groupby('company').mean()
print(df_mileage)
print('\n ----')

df_company = df.groupby('company')
df_mileage = df_company['average-mileage'].mean()
print(df_mileage)

               average-mileage
company
alfa-romero          20.333333
audi                 20.000000
bmw                  19.000000
chevrolet            41.000000
dodge                31.000000
honda                26.333333
isuzu                33.333333
jaguar               14.333333
mazda                28.000000
mercedes-benz        18.000000
mitsubishi           29.500000
nissan               31.400000
porsche              17.000000
toyota               28.714286
volkswagen           31.750000
volvo                23.000000

 ----
company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64