In [113]:
#Q1 - my way

for i in range(5):
  idx = 0
  while (idx <= i):
    print(i+1,end=' ')
    idx+=1
  print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [114]:
#Q1 - Another way 
for num in range(6):
  for i in range(num):
    print(num,end=' ')
  print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [115]:
#Q2

#My way
def reverse_num(num):  
  string = str(num)
  str_len = len(string)
  reverse_str = ''
  i = str_len - 1
  while (i >= 0):
    reverse_str += string[i] + ' '
    i-=1
  return reverse_str

print(reverse_num(7636))

6 3 6 7

In [116]:
#Q2
#Another way
number = 7636

while(number > 0):
  #Take the number from the right of the comma 
  digit = number % 10
  #// to take only the integer part of the div
  #and the number from the right is 'gone' 
  number = number // 10
  print(digit, end=' ')

6 3 6 7

In [121]:
#Q3 - From the given dataset print the first and last five rows

import pandas as pd 


df = pd.read_csv('Automobile_data.csv')
print(df.head())
print('\n')
print(df.tail())

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0


    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [139]:
#Q4 - Find the most expensive car company name

print(df['price'].max())

print(df.columns.get_loc('price'))

45400.0
9